<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Home</h1>
   <!-- i want to render a table with the following columns -->
   <table>
    <thead>
        <tr>
            <th>Short ID</th>
            <th>Original URL</th>
            <th>Analytics</th>
        </tr>
    </thead>
    <tbody>
        
   <!-- i want to render a table with the following columns -->
</body>
</html>